@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace', sans-serif;
}

.container {
    width: 2400px;
    display: grid;
    margin: 0 auto;
    background-color: #eee;
}

a {
    color: #000;
    text-decoration: none;
    padding-left: 5px;
}

h1 {
    padding: 0 10px;
    color: rgb(182, 118, 0);
    text-shadow: 4px 6px 3px rgb(126, 126, 126); 
}

input {
    height: 30px;
    padding-left: 20px;
    border-color: rgb(182, 118, 0);
    border-radius: 15px;
    background-color: rgb(247, 246, 245);
}

button {
    height: 30px;
    border-color: rgb(182, 118, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(167, 167, 167, 0.6);
}

button:hover {
    background-color: rgb(216, 140, 0);
    color: #FFF;
}

button.addItem,
button.editItem {
    width: 150px;
}

/* IMAGES AND ICONS */

.sideLogo img {
    width: 50px;
}

.miniIcon {
    height: 15px;
}

.sideIcon {
    height: 30px;
}

.profileIcon {
    height: 40px;
    border-radius: 20px;
}

.container {
    max-width: 1600px;
    display: grid;
    grid-template: 200px 2fr 2fr/1fr 2fr 2fr;
    grid-template-areas: 
        "sidebar topBar topBar"
        "sidebar main   main"
        "sidebar main   main"
    ;
}

/* SIDEBAR */
.sidebar {
    display: grid;
    grid-area: sidebar;
    background-image: url(../img/texture-1504364_1280.jpg);
    grid-template: 150px 350px 300px / 1fr;
    grid-template-areas: 
        "sideLogo"
        "sideUpper"
        "sideLower"
    ;
}

.sideLogo {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px 0 0 10px;
    height: 100px;
    align-items: center;
}

.sideUpper,
.sideLower {
    display: grid;
    padding: 0 20px;
    align-content: center;
}

.sideLinks {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(247, 246, 245, 0.5);
    box-shadow: 2px 2px 4px 6px rgba(167, 167, 167, 0.6);
}

.sideLinks:hover {
    background-color: rgba(199, 199, 199, 0.5);
}

.sideLogo {
    grid-area: sideLogo;
}

.sideUpper {
    grid-area: sideUpper;
}

.sideLower {
    grid-area: sideLower;
}

/* TOP-BAR */
.topBar {
    display: grid;
    padding: 10px;
    grid-area: topBar;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;   
}

.topUpper {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px;
    align-content: center;
}

.topLower {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    align-content: center;
}

.topUpLeft {
    display: grid;
    grid-row: 1;
    grid-column: 1 / 4;
}

.search {
    display: grid;
    grid-template-columns: 30px 5fr 1fr;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.topUpRight {
    display: grid;
    grid-row: 1;
    grid-column: 4 / 7;
    justify-content: end;
}

.login {
    display: grid;
    grid-template-columns: 50px 40px 2fr;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.topLowLeft {
    display: inline;
    margin-left: 50px;
}

.topLowRight {
    display: grid;
    grid-area: topLowRight;
}


/* MAIN CONTENT */

.mainContent {
    display: grid;
    border-top-left-radius: 55px;
    grid-area: main;
    background-color: #FFF;
    border-top: 4px solid orange;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 10px 80px 10px;
    /* box-shadow: 0px 0px 4px 2px rgba(167, 167, 167, 0.6); */
}

.mainCards {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
}

.cards {
    display: grid;
    grid-column: 1/3;
    align-content: start;
}

.cards h2 {
    padding: 0 30px;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    gap: 30px;
    padding: 30px;
}

.project {
    display: grid;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 20px;
    border-left: 20px solid cornflowerblue;
    grid-row: 40px 1fr 25px;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.55);
    align-content: space-between;
}

.cardLinks {
    height: 20px;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: end;
    align-content: center;
}

.hotTopics {
    display: grid;
    grid-column: 3/4;
    align-content: space-between;
    margin: 0 30px;
}

.announcements,
.trending {
    display: grid;
    margin: 40px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.55);
}

.topUser {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.contentHeader {
    margin: 35px 0 0 15px;
}

.announce,
.topUser {
    padding: 10px 20px;
}

.userName {
    margin-left: 15px;
}

h5 {
    padding-bottom: 5px;
}

.announce h6 {
    padding-bottom: 15px;
    border-bottom: 1px dotted #a9a9a9;
}

.favorite:hover {
    cursor: pointer;
}


/* QUESTIONNAIRE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #3a7bd5, #3a4773);
    font-family: "Raleway", sans-serif;
    height: 100vh;
}

.popup {
    position: absolute;
    top: -150%; /* not showing = -150%, showing = 50% */
    left: 50%;
    opacity: 0; /* not showing = opacity = 0, showing = 1 */
    transform: translate(-50%, -50%) scale(0.15); /* makes the box center the position zero (0,0) instead of the upper left corner - scale = the size of the popup before it dissapears */
    width: 500px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 400ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
